<aside class="sidebar">
    <nav>
        <ul>
            <li><a href="/" class="sidebar-link">Главная</a></li>
            <li><a href="/create" class="sidebar-link">Создать пост</a></li>
            <li><a href="/posts" class="sidebar-link">Все посты</a></li>
        </ul>
    </nav>
</aside>